<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/flora-martins-299631a3/">Linkedin</a></li>
    <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
    <li><span></span></li>
    <li><a href="https://github.com/codefloracode">Github</a></li>
    <li><span><i class="fa-brands fa-github" style="color: #ffffff;"></i></span></li>
    <li><a href="https://www.instagram.com/hiimf/">Instagram</a></li>
    <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
  </ul>
</div>
